@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Gym Management Project!</h1>
    <h2 class="display-6">My Gym Management System helps efficiently manage memberships, workouts, instructor schedules and many more! Built with ASP.NET Core MVC and SQLite, it offers a seamless experience for gym administration.</h2>
    <h2>Key Features</h2>
    <ul>
        <li>🔹 Member and Instructor Management</li>
        <li>🔹 Workout Scheduling and Tracking</li>
        <li>🔹 Document Uploads and Filtering</li>
        <li>🔹 Secure Authentication and Role-based Access</li>
    </ul>
    <img src="~/images/gym-home.png" alt="Gym Home Image" class="gym-home-img">

</div>